<div>

Username: <input type="text" [(ngModel)]="username" name="Username" /> <br>
Password: <input type="password" [(ngModel)]="password" name="password" /> <br>
ConfirmPassword: <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" /> <br>
Gender: <input type="radio" [(ngModel)]="gender" value="M" name="gender" /> 
        <input type="radio" [(ngModel)]="gender" value="F" name="gender" /> <br>

        Country : <select [(ngModel)]="country"> 
<option value="select">select</option>
<option value="India">India</option>
<option value="America">America</option>
<option value="Japan">Japan</option>
<option value="France">France</option>
        </select> <br>
MobileNumber: <input type="number" [(ngModel)]="mobileNumber" name="mobileNumber" /> <br>

<input type="button" value="Register" (click)="handleRegButtonClick()">

{{msg}}

</div>